{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <center>
    <h1>Index</h1>
    <img src="{% static 'images/django_img.png' %}">
    <h2>{{ course }}</h2>

    <span>{{ logged }}</span>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{% url 'product' product.id %}">{{ product.nome }}</a></td>
                <td>{{ product.preco }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button onclick="teste();">Do Not Click-me</button>
    </center>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>